@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');
#root {
  width: 100%;
  background-color: #6ab0c3;
  color: #f5f2f2;
  font-family: 'Raleway', sans-serif;
}
